[submodule "geonode"]
	path = geonode
	url = https://github.com/CentroGeo/sigic-geonode-wrapper.git
	branch = develop-bundle

[submodule "keycloak"]
	path = keycloak
	url = https://github.com/CentroGeo/sigic-keycloak.git
	branch = develop-bundle

[submodule "frontend"]
	path = frontend
	url = https://github.com/PaulinaPC6/idegeo-nuxt-frontend.git
	branch = develop-bundle

[submodule "ia-engine"]
	path = ia-engine
	url = https://github.com/CentroGeo/sigic-ia-engine.git
	branch = develop-bundle

[submodule "ia-lb"]
	path = ia-lb
	url = https://github.com/CentroGeo/sigic-ia-loadbalancer.git
	branch = develop-bundle
[submodule "levantamiento"]
	path = levantamiento
	url = https://github.com/CentroGeo/sigic-levantamiento.git
